In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [4]:
df = pd.read_csv("../FinalDataSet.csv")

# Dimensões
df

,Reserve_ID,data_chegada,data_partida,date,area_localizacao,city,tavg,tmax,tmin
0,1427640,2022-02-12,2022-02-18,2022-02-18,Batalha,Batalha,12.2,16.0,10.5
1,1427640,2022-02-12,2022-02-18,2022-02-17,Batalha,Batalha,13.3,16.0,10.0
2,1427640,2022-02-12,2022-02-18,2022-02-16,Batalha,Batalha,10.7,16.0,5.7
3,1427640,2022-02-12,2022-02-18,2022-02-15,Batalha,Batalha,9.2,15.0,5.0
4,1427640,2022-02-12,2022-02-18,2022-02-14,Batalha,Batalha,10.5,14.0,5.0
...,...,...,...,...,...,...,...,...,...
68963,1716036,2023-04-14,2023-04-15,2023-04-15,Chaves,Chaves,14.0,21.8,6.5
68964,1716036,2023-04-14,2023-04-15,2023-04-14,Chaves,Chaves,10.7,13.5,8.2
68965,1716549,2023-04-23,2023-04-24,2023-04-23,Castelo Branco,Castelo Branco,14.7,21.9,7.2
68966,1721874,2023-04-21,2023-04-22,2023-04-22,Porto,Porto,13.6,17.3,10.7
68967,1721874,2023-04-21,2023-04-22,2023-04-21,Porto,Porto,12.1,14.2,10.1