In [7]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [8]:
df = pd.read_csv("../DataSetFinal.csv")

# Dimensões
df

,hotel_ID,Reserve_ID,pais,estado_reserva,room_ID,Q_tipo_quarto,rate_plan,data_reserva,data_chegada,data_partida,...,is_holiday,portugueseWeekName,Location,Event,start_Date,end_date,city,tavg,tmax,tmin
0,478,1567734,França,Registado,2231,Duplo (Cama de Casal),Não Reembolsável,2022-08-13T13:53:30.363Z,2022-08-30,2022-09-06,...,NaN,NaN,NaN,NaN,NaN,NaN,Carcavelos,21.3,26.0,18.0
1,478,1567734,França,Registado,2231,Duplo (Cama de Casal),Não Reembolsável,2022-08-13T13:53:30.363Z,2022-08-30,2022-09-06,...,NaN,NaN,NaN,NaN,NaN,NaN,Carcavelos,20.6,24.0,18.2
2,478,1567734,França,Registado,2231,Duplo (Cama de Casal),Não Reembolsável,2022-08-13T13:53:30.363Z,2022-08-30,2022-09-06,...,NaN,NaN,NaN,NaN,NaN,NaN,Carcavelos,19.7,23.1,16.0
3,478,1567734,França,Registado,2231,Duplo (Cama de Casal),Não Reembolsável,2022-08-13T13:53:30.363Z,2022-08-30,2022-09-06,...,NaN,NaN,NaN,NaN,NaN,NaN,Carcavelos,19.8,25.0,16.9
4,478,1567734,França,Registado,2231,Duplo (Cama de Casal),Não Reembolsável,2022-08-13T13:53:30.363Z,2022-08-30,2022-09-06,...,NaN,NaN,NaN,NaN,NaN,NaN,Carcavelos,20.3,25.0,17.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78015,309,1519195,Holanda,Registado,2254,Quarto Duplo Superior,SUPERIOR BB,2022-06-13T06:26:46.117Z,2022-07-21,2022-07-25,...,NaN,NaN,NaN,NaN,NaN,NaN,Porto,21.9,27.5,17.3
78016,309,1519195,Holanda,Registado,2254,Quarto Duplo Superior,SUPERIOR BB,2022-06-13T06:26:46.117Z,2022-07-21,2022-07-25,...,NaN,NaN,NaN,NaN,NaN,NaN,Porto,20.5,25.3,16.1
78017,309,1519195,Holanda,Registado,2254,Quarto Duplo Superior,SUPERIOR BB,2022-06-13T06:26:46.117Z,2022-07-21,2022-07-25,...,NaN,NaN,NaN,NaN,NaN,NaN,Porto,20.3,24.6,17.1
78018,311,1665608,França,Registado,1407,DB - Quarto Duplo Standard,NR,2023-01-26T21:42:22.740Z,2023-01-29,2023-01-30,...,NaN,NaN,NaN,NaN,NaN,NaN,Maia,7.0,13.0,3.0
78019,311,1665608,França,Registado,1407,DB - Quarto Duplo Standard,NR,2023-01-26T21:42:22.740Z,2023-01-29,2023-01-30,...,NaN,NaN,NaN,NaN,NaN,NaN,Maia,6.2,13.0,0.0